<p>form-appartment works!</p>
<div class="container">
  <form [formGroup]="appartform">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Num Appart</span>
      </div>
      <input
        type="text"
        aria-label="Num Appart"
        name="numAppart"
        id="numAppart"
        class="form-control"
        formControlName="numAppart"
      />
    </div>
    <br />

    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">description</span>
      </div>
      <input
        type="text"
        aria-label="description"
        class="form-control"
        formControlName="description"
      />
      <div
        *ngIf="description!.touched && description!.invalid"
        class="alert alert-danger"
      >
        description is required
        <div *ngIf="description?.errors?.['minlength']">min length 10</div>
      </div>
    </div>
    <br />
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">residence</span>
      </div>
      <input
        type="text"
        aria-label="residence"
        class="form-control"
        formControlName="residence"
      />
    </div>

    <br />
    <br />
    <input
      type="submit"
      aria-label="add"
      class="bg-primary"
      value="add"
      (click)="add()"
    />
  </form>
</div>
